# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`. You should've created this data file in the previous section: *Merging Datasets*.

In [1]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [9]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]

In [10]:
model_mpg.head()

                      cmb_mpg_2008  cmb_mpg
model
ACURA RDX                     18.0     22.5
ACURA TLX                     20.0     25.0
ACURA TLX AWD A-SPEC          21.0     23.0
ACURA TLX FWD A-SPEC          22.0     23.0
ALFA ROMEO 4C                 23.0     28.0

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [11]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [12]:
model_mpg.head()

                      cmb_mpg_2008  cmb_mpg  mpg_change
model
ACURA RDX                     18.0     22.5         4.5
ACURA TLX                     20.0     25.0         5.0
ACURA TLX AWD A-SPEC          21.0     23.0         2.0
ACURA TLX FWD A-SPEC          22.0     23.0         1.0
ALFA ROMEO 4C                 23.0     28.0         5.0

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [16]:
#finding the max change 
max_change = model_mpg['mpg_change'].max()
max_change

54.0

In [20]:
biggest_change = model_mpg.query('mpg_change == 54.0')
biggest_change

                cmb_mpg_2008  cmb_mpg  mpg_change
model
CHEVROLET Volt          20.0     74.0        54.0

In [21]:
idx = model_mpg.mpg_change.idxmax()
idx

'CHEVROLET Volt'

In [22]:
model_mpg.loc[idx]

cmb_mpg_2008    20.0
cmb_mpg         74.0
mpg_change      54.0
Name: CHEVROLET Volt, dtype: float64