# Drawing Conclusions Using Groupby

Use `winequality_edited.csv`. You should've created this data file in the previous section: *Appending Data (cont.)*.

In [1]:
# Load dataset
import pandas as pd
% matplotlib inline 

df_wine = pd.read_csv('winequality_edited.csv')

### Is a certain type of wine associated with higher quality?

In [2]:
# Find the mean quality of each wine type (red and white) with groupby
df_wine.groupby(['color'], as_index=False)['quality'].mean()

   color   quality
0    red  5.636023
1  white  5.877909

### What level of acidity receives the highest average rating?

In [3]:
# View the min, 25%, 50%, 75%, max pH values with Pandas describe
df_wine['pH'].describe()

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [4]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [2.27,3.11, 3.21, 3.32, 4.01] # Fill in this list with five values you just found

In [5]:
# Labels for the four acidity level groups
bin_names = ['high', 'mod_high', 'medium', 'low'] # Name each acidity level category

In [6]:
# Creates acidity_levels column
df_wine['acidity_levels'] = pd.cut(df_wine['pH'], bin_edges, labels=bin_names)

# Checks for successful creation of this column
df_wine.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,mod_high
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,medium
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,mod_high
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,low

In [7]:
# Find the mean quality of each acidity level with groupby
df_wine.groupby(['acidity_levels'], as_index=False)['quality'].mean()

  acidity_levels   quality
0           high  5.783469
1       mod_high  5.784540
2         medium  5.850832
3            low  5.859593

In [8]:
# Save changes for the next section
df_wine.to_csv('winequality_edited.csv', index=False)